<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .input-field:focus {
            border-color: #e3543d;
        }
    </style>
</head>
<body class="bg-gradient-to-r from-[#09122C] to-[#872341] flex justify-center items-center h-screen">

<div class="form-container bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
    <h2 class="text-3xl font-semibold text-center mb-6 text-[#09122C]">Login</h2>

    <form method="post">
        <!-- Username Field -->
        <div class="mb-4">
            <label for="username" class="block text-[#09122C] text-md font-semibold mb-2">Username</label>
            <input id="username" type="text" class="input-field w-full px-4 py-2 border border-[#E17564] rounded-lg focus:outline-none focus:ring-2" autocomplete="off" placeholder="username" required>
        </div>

        <!-- Password Field -->
        <div class="mb-6">
            <label for="password" class="block text-[#09122C] text-md font-semibold mb-2">Password</label>
            <input id="password" type="password" class="input-field w-full px-4 py-2 border border-[#E17564] rounded-lg focus:outline-none focus:ring-2" autocomplete="off" placeholder="password" required>
        </div>

        <div class="mb-8">
            <a href="/"class="font-semibold">Home</a><br>
            <a href="/signup" class="font-semibold">Sign Up ?</a>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-center">
            <button type="submit" class="submit-button w-full py-2 bg-[#BE3144] text-white font-semibold rounded-lg hover:bg-[#CE4255] focus:outline-none focus:ring-2 focus:ring-[#BE3144]">
                Login
            </button>
        </div>
    </form>
</div>

</body>
</html>
